body {
    font-family:geneva, arial, helvetica, sans-serif;
    margin:0;
    padding:0;
    font-size: 10px;
    margin:0 auto;
    width:1024px;
    background-color:white;
    background-position:50% 0;
    background-repeat:repeat no-repeat;
    background-image: url(../images/macback.png);
    background-size:cover !important;
}

/*
ICONOS
*/
.nuevo{
    background:url("#{resource['images:nuevo.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.modificar{
    background:url("#{resource['images:modificar.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.eliminar{
    background:url("#{resource['images:eliminar.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.recuperar{
    background:url("#{resource['images:recuperar.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.imprimir{
    background:url("#{resource['images:imprimir.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.linkMtto{
    background:url("#{resource['images:personas_22.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.guardar{
    background:url("#{resource['images:guardar.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.salir{
    background:url("#{resource['images:salir.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.certificado{
    background:url("#{resource['images:certificado.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.iconIgual{
    height: 24px; 
    background-image: url("#{resource['images:igual_24.png']}");
    text-align: center;
    vertical-align: central;
}

.agregar{
    background: url("#{resource['images:agregar.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.add{
    background: url("#{resource['images:add_1.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.remover{
    background: url("#{resource['images:remover.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.delete{
    background: url("#{resource['images:delete.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.buscar{
    background: url("#{resource['images:find.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.aceptar{
    background: url("#{resource['images:ok.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.cancelar{
    background: url("#{resource['images:cancel.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

.advertencia{
    background: url("#{resource['images:lock.png']}")  no-repeat !important;
    height:16px;
    width:20px;
}

/*
ESTILOS PARA TABLAS
*/
.alineadoTop td {
    vertical-align: top; 
}

.dvPaso {
    border: 1.0px solid rgb(204, 204, 204);
    border-radius: 10.0px 10.0px 10.0px 10.0px;
}
.dvControl{
    background-color : #99c2f2;
}
.dvTitulo{
    color:#99c2f2;
}
.dvPaso:hover, #selected_dvPaso, .QuickStartLong:hover {
    background: rgb(184, 225, 252);
}
.selected {
    background-color : #99c2f2;
}

.total{
    background-color: #2a399f !important;
    color: white !important;
    font-weight: bold !important;
    background-image: none !important;
    text-shadow: none !important;
}

.numero{
    text-align: right;
}

.ui-dialog .ui-dialog-titlebar {
    border:0;
    padding:0.2em 0.2em 0.2em 1em;
    position:relative;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    padding:1px 10px;
    white-space:nowrap;
}

.ui-menu-child {
    white-space: nowrap;
    width: auto !important;
}

.sinBorder tr, .sinBorder td {
    border-style: none !important
}

.ui-datatable tbody td.wrap {
    white-space: normal !important;;
}
.columna {
    text-align: right !important;;
}

.centradoVertical{
    vertical-align: central;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: 0.2em 1em !important;
    text-decoration: none;
}

.filaEliminada{
    background-color: #fe7878 !important;
    background-image:none !important;
    color:#000000 !important;
}

.panelSinBorder .ui-widget-content
{
    border-style: none !important;
}

.col12{width: 100% !important;}
.col11{width: 91.67% !important;}
.col10{width: 83.33% !important;}
.col9{width: 75% !important;}
.col8{width: 66.67% !important;}
.col7{width: 58.33% !important;}
.col6{width: 50% !important;}
.col6_label{width: 50% !important;text-align: right;}
.col5{width: 41.67% !important;}
.col5_label{width: 41.67% !important;text-align: right;}
.col4{width: 33.33% !important;}
.col4_label{width: 33.33% !important;text-align: right;}
.col3{width: 25% !important;;}
.col3_label{width: 25% !important;text-align: right;}
.col2{width: 16.67% !important;}
.col2_label{width: 16.67% !important;text-align: right;}
.col1{width: 8.33% !important;;}
.col1_label{width: 8.33% !important;text-align: right;}