<?xml version="1.0" encoding="windows-1252"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
    <!-- Habilita el uso de anotaciones -->
    <context:component-scan base-package="sv.gob.mined.apps.siapv2.mvn" />
    
    <!-- Definicion del Bean del DataSource -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
        <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
        
        <!--TEST
        <property name="url" value="jdbc:jtds:sqlserver://192.168.43.20:1433/siapv2" />
        <property name="username" value="userSIAP" />
        <property name="password" value="siapv2" />-->
        
        <!--DESARROLLO-->
        <!--property name="url" value="jdbc:jtds:sqlserver://192.168.2.8:1433/siapv2" />
        <property name="username" value="sa" />
        <property name="password" value="admin" /-->
        
        <!--PRODUCCION-->
        <property name="url" value="jdbc:jtds:sqlserver://172.20.0.60:1433/siapv2" />
        <property name="username" value="userSIAP" />
        <property name="password" value="usry8876" />        
    </bean>
    
    <bean id="dataSource2" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
        <property name="driverClassName" value="net.sourceforge.jtds.jdbc.Driver" />
        
        <!--SIAP PRODUCCION-->        
        <property name="url" value="jdbc:jtds:sqlserver://172.20.0.60:1433/siap_2010" />
        <property name="username" value="userSIAP" />
        <property name="password" value="usry8876" />
        
    </bean>
    
    <!-- Definicion del Bean del SpringJdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" scope="singleton">
        <constructor-arg ref="dataSource"></constructor-arg> 
    </bean>
    
    <bean id="jdbcTemplate2" class="org.springframework.jdbc.core.JdbcTemplate" scope="singleton">
        <constructor-arg ref="dataSource2"></constructor-arg> 
    </bean>
    
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="sv.gob.mined.apps.siapv2.spring.view.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>    
</beans>